*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav{
	height: 80px;
}
.nav-c{
	position: relative;
	height: 80px;
	width: 1200px;
	margin: 0 auto;
	background: url(../../../img/home/logo.png) no-repeat center;
	background-position: 60px 15px;
}
.nav .nav-c .num{
	position: absolute;
	left: 110px;
	bottom: 14px;
}
.nav .nav-c .nav-ul{
	position: absolute;
	right:0;
	top: 0;
}
.nav-c .nav-ul .nav-items{
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin-left: 80px;
}
.nav-ul .nav-items:hover{
	font-weight: bolder;
}
.line{
	display: none;
	position: absolute;
	left: 8px;
	bottom: 25px;
	width: 4em;
	height: 1px;
	background-color: #b9ab77;
}
.nav-ul .nav-items:hover .line{
	display: block;
	color: #b9ab77;
}
.nav-c .nav-ul .nav-items.active{
	color: #1d1d1d;
	font-weight: bolder;
}
.nav-ul .nav-items.active .line{
	display: block;
}
.nav-ul .nav-items .nav-a{
	font-size: 16px;
	color: #666666;
}
/*ban图片*/
.ban .ban-img{
	width: 100%;
}
/*内容*/
.content-c{
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
}
/*设计师css*/
.text{
	display: block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 26px;
	color: #444444;
	margin: 0 auto;
	margin-top: 60px;
}
.eng{
	display: block;
	width: 200px;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	color: #c1c1c1;
	text-align: center;
	margin: 0 auto;
	margin-top: 3px;
}
.content .content-c .content-ul{
	margin-top: 60px;
	/*height: 840px;*/
}
.content-c .content-ul .content-items{
	position: relative;
	width: 300px;
	height: 810px;
	float: left;
	margin-right: 150px;
	cursor: pointer;
}
.content-c .content-ul .content-items.img3{
	margin-right: 0;
	background: url(../img/des3.png) no-repeat center;
	background-position: 0 0;
}
.content-c .content-ul .content-items.img2{
	background: url(../img/des2.png) no-repeat center;
	background-position: 0 0;
}
.content-c .content-ul .content-items.img1{
	background: url(../img/des1.png) no-repeat center;
	background-position: 0 0;
}
.content-ul .content-items .name{
	position: absolute;
	left: 0;
	top: 500px;
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: #2e2e2e;
}
.content-ul .content-items .title{
	position: absolute;
	left: 0;
	top: 550px;
	width: 300px;
	height: 20px;
	text-align: center;
	font-size: 14px;
	color: #a4a4a4;
}
.content-ul .content-items .introduce{
	position: absolute;
	left: 0;
	top: 600px;
	width: 300px;
	font-size: 14px;
	color: #a4a4a4;
}
.content-ul .content-items .more{
	display: none;
	position: absolute;
	top: 730px;
	left: 75px;
	height: 45px;
	width: 150px;
	border: 1px solid #b9ab77;
	color: #b9ab77;
	text-align: center;
	line-height: 45px;
}
.content-ul .content-items .blank{
	display: none;
	position: absolute;
	left: 0;
	top: 810px;
	height: 2px;
	width: 300px;
	background-color: #b9ab77;
}
.content-ul .content-items.img1 .more{
	display: block;
}
.content-ul .content-items.img1 .blank{
	display: block;
}
.content-ul .content-items:hover .more{
	display: block;
}
.content-ul .content-items:hover .blank{
	display: block;
}
/*底部*/
.bot{
	height: 100px;
	background-color: #4D4D4D;
}
.bot-c{
	position: relative;
	height: 100px;
	width: 1200px;
	margin: 0 auto;
	/*background-color: pink;*/
}
.bot-c .bot-id1{
	position: absolute;
	left: 0;
	top: 35px;
	width: 400px;
	font-size: 12px;
	color: #F3F3F3;
}
.bot-c .bot-id2{
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 400px;
	font-size: 12px;
	color: #F3F3F3;
}
.bot-c .bot-last{
	float: right;
	height: 100px;
	width: 340px;
	/*background-color: pink;*/
	line-height: 100px;
}
.bot-c .bot-last .bot-items{
	margin-right: 40px;
	margin-left: 10px;
	font-size: 12px;
	color: #F3F3F3;
}
.bot-c .bot-last .bot-items.mr0{
	margin-right: 0px;
}